# CellCycleNet Example #1 - Predict cell cycle stage from segmented DAPI images

Steps:

1. given fields of view with already-segmented nuclei, generate single-nucleus images
2. from the generated single-nucleus images, compute the appropriate normalization factor
3. for each single-nucleus image, predict its cell cycle stage using the CCN pre-trained model

### Step 1: create single-nuclei images from segmented fields of view

In [3]:
from cellcyclenet import CellCycleNet, utils

IMAGE_DIR = '../data/example_data/test_tiles/'
MASK_DIR = '../data/example_data/test_masks/'
OUTPUT_DIR = '../data/example_data/test_SNI/'

# generate unlabeled SNIs #
df = utils.generate_images(IMAGE_DIR, MASK_DIR, OUTPUT_DIR, shape=(90,150,150), num_cores=None)
df

    tile_num  obj_num                                         filename
0          1        1   ../data/example_data/test_SNI/tile_1_obj_1.tif
1          1       10  ../data/example_data/test_SNI/tile_1_obj_10.tif
2          1       12  ../data/example_data/test_SNI/tile_1_obj_12.tif
3          1       13  ../data/example_data/test_SNI/tile_1_obj_13.tif
4          1        4   ../data/example_data/test_SNI/tile_1_obj_4.tif
5          1        5   ../data/example_data/test_SNI/tile_1_obj_5.tif
6          1        8   ../data/example_data/test_SNI/tile_1_obj_8.tif
7          2       10  ../data/example_data/test_SNI/tile_2_obj_10.tif
8          2       11  ../data/example_data/test_SNI/tile_2_obj_11.tif
9          2        2   ../data/example_data/test_SNI/tile_2_obj_2.tif
10         2        3   ../data/example_data/test_SNI/tile_2_obj_3.tif
11         2        4   ../data/example_data/test_SNI/tile_2_obj_4.tif
12         2        5   ../data/example_data/test_SNI/tile_2_obj_5.tif
13         2        6   ../data/example_data/test_SNI/tile_2_obj_6.tif
14         2        8   ../data/example_data/test_SNI/tile_2_obj_8.tif
15         2        9   ../data/example_data/test_SNI/tile_2_obj_9.tif
16         3       10  ../data/example_data/test_SNI/tile_3_obj_10.tif
17         3       11  ../data/example_data/test_SNI/tile_3_obj_11.tif
18         3       13  ../data/example_data/test_SNI/tile_3_obj_13.tif
19         3       14  ../data/example_data/test_SNI/tile_3_obj_14.tif
20         3        3   ../data/example_data/test_SNI/tile_3_obj_3.tif
21         3        7   ../data/example_data/test_SNI/tile_3_obj_7.tif
22         3        8   ../data/example_data/test_SNI/tile_3_obj_8.tif
23         4       10  ../data/example_data/test_SNI/tile_4_obj_10.tif
24         4       11  ../data/example_data/test_SNI/tile_4_obj_11.tif
25         4       12  ../data/example_data/test_SNI/tile_4_obj_12.tif
26         4       13  ../data/example_data/test_SNI/tile_4_obj_13.tif
27         4       15  ../data/example_data/test_SNI/tile_4_obj_15.tif
28         4       16  ../data/example_data/test_SNI/tile_4_obj_16.tif
29         4       17  ../data/example_data/test_SNI/tile_4_obj_17.tif
30         4       18  ../data/example_data/test_SNI/tile_4_obj_18.tif
31         4        2   ../data/example_data/test_SNI/tile_4_obj_2.tif
32         4        6   ../data/example_data/test_SNI/tile_4_obj_6.tif
33         4        7   ../data/example_data/test_SNI/tile_4_obj_7.tif
34         4        9   ../data/example_data/test_SNI/tile_4_obj_9.tif

### Step 2: compute normalization factor from generated single-nucleus images

In [4]:
norm_factor = utils.calc_norm_factor(df)

print(f'Computed normalization factor factor: {norm_factor}')

Computed normalization factor factor: 1818.0

### Step 3: load pre-trained model and predict cell cycle stage

In [5]:
# load pre-trained model
model = CellCycleNet()

# create dataset #
test = model.create_dataset(dataframe=df,
                            norm_factor=norm_factor,
                            scale_factors=(2,2,2),
                            split_data=False)

# generate predictions #
test_preds = model.predict(test, with_labels=False)

test_preds.sort_values(['tile_num', 'obj_num'])

Created dataset with 35 images...

,tile_num,obj_num,filename,pred,prob
0,1,1,../data/example_data/test_SNI/tile_1_obj_1.tif,1,0.505948
4,1,4,../data/example_data/test_SNI/tile_1_obj_4.tif,1,0.711341
5,1,5,../data/example_data/test_SNI/tile_1_obj_5.tif,0,0.087300
6,1,8,../data/example_data/test_SNI/tile_1_obj_8.tif,0,0.075824
1,1,10,../data/example_data/test_SNI/tile_1_obj_10.tif,1,0.611236
2,1,12,../data/example_data/test_SNI/tile_1_obj_12.tif,1,0.634882
3,1,13,../data/example_data/test_SNI/tile_1_obj_13.tif,1,0.776077
9,2,2,../data/example_data/test_SNI/tile_2_obj_2.tif,1,0.577107
10,2,3,../data/example_data/test_SNI/tile_2_obj_3.tif,0,0.132971
11,2,4,../data/example_data/test_SNI/tile_2_obj_4.tif,0,0.327236
12,2,5,../data/example_data/test_SNI/tile_2_obj_5.tif,1,0.898135
13,2,6,../data/example_data/test_SNI/tile_2_obj_6.tif,0,0.217061
14,2,8,../data/example_data/test_SNI/tile_2_obj_8.tif,0,0.147002
15,2,9,../data/example_data/test_SNI/tile_2_obj_9.tif,0,0.107574
7,2,10,../data/example_data/test_SNI/tile_2_obj_10.tif,1,0.722312
8,2,11,../data/example_data/test_SNI/tile_2_obj_11.tif,1,0.525806
20,3,3,../data/example_data/test_SNI/tile_3_obj_3.tif,0,0.495931
21,3,7,../data/example_data/test_SNI/tile_3_obj_7.tif,1,0.613689
22,3,8,../data/example_data/test_SNI/tile_3_obj_8.tif,1,0.535239
16,3,10,../data/example_data/test_SNI/tile_3_obj_10.tif,0,0.359936
17,3,11,../data/example_data/test_SNI/tile_3_obj_11.tif,0,0.102228
18,3,13,../data/example_data/test_SNI/tile_3_obj_13.tif,0,0.387993
19,3,14,../data/example_data/test_SNI/tile_3_obj_14.tif,1,0.959142
31,4,2,../data/example_data/test_SNI/tile_4_obj_2.tif,0,0.239639
32,4,6,../data/example_data/test_SNI/tile_4_obj_6.tif,0,0.134894
33,4,7,../data/example_data/test_SNI/tile_4_obj_7.tif,0,0.113322
34,4,9,../data/example_data/test_SNI/tile_4_obj_9.tif,0,0.281945
23,4,10,../data/example_data/test_SNI/tile_4_obj_10.tif,1,0.861904
24,4,11,../data/example_data/test_SNI/tile_4_obj_11.tif,0,0.093489
25,4,12,../data/example_data/test_SNI/tile_4_obj_12.tif,0,0.280357
26,4,13,../data/example_data/test_SNI/tile_4_obj_13.tif,0,0.096901
27,4,15,../data/example_data/test_SNI/tile_4_obj_15.tif,0,0.084954
28,4,16,../data/example_data/test_SNI/tile_4_obj_16.tif,0,0.146330
29,4,17,../data/example_data/test_SNI/tile_4_obj_17.tif,1,0.915718
30,4,18,../data/example_data/test_SNI/tile_4_obj_18.tif,1,0.784350